.bold-row {
    font-weight: bold !important;
    font-size: 20px !important;
    font-family: "ubuntu mono", serif !important;
}

.normal-row {
    font-size: 18px !important;
    font-family: "ubuntu mono", serif !important;
}

.table-style {
    flex: inherit !important;
    flex-direction: column !important;
}

/*!* Style for the navigation bar *!*/
/*nav {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    background-color: #2196f3;*/
/*    color: #ffffff;*/
/*    padding: 50px;*/
/*}*/

/*!* Style for the "Add Product" button *!*/
/*nav .add-product {*/
/*    padding: 50px 30px;*/
/*    border-radius: 4px;*/
/*    background-color: #ffffff;*/
/*    color: #2196f3;*/
/*    text-decoration: none;*/
/*}*/

/*!* Style for the "Logout" button *!*/
/*nav .logout {*/
/*    padding: 8px 16px;*/
/*    border-radius: 4px;*/
/*    background-color: #ffffff;*/
/*    color: #2196f3;*/
/*    text-decoration: none;*/
/*    text-align: right;*/
/*}*/

/*!* Hover effect for the buttons *!*/
/*nav .add-product:hover,*/
/*nav .logout:hover {*/
/*    background-color: #2196f3;*/
/*    color: #ffffff;*/
/*}*/
