/* Login page styles */

body {
    background-color: #caccdd;
    font-family: Arial, sans-serif;
}

.login-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.login-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.login-form input {
    border: 1.5px solid #393747;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.login-form button[type="submit"] {
    background-color: #2f3653;
    border:chartreuse;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.login-form button[type="submit"]:hover {
    background-color: #497a86;
}

.login-form p.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
  